/*GENERAL*/

body {
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 355px;
  margin: 0 auto;
  padding-top: 5%;
}

h1 {
  margin-left: -2px;
}

ul {
  padding-left: 16px;
}

li {
  font-size: 14px;
}

span {
  font-weight: normal;
  font-style: italic;
  background-color: yellow;
  margin: 0 6px;
  padding: 0 10px;
}

/*CONTAINER*/

.container > ul > li {
  margin-top: 15px;
}

.container ul ul li {
  margin-top: 5px;
}
